body {
  margin:0;
  background-color: lightgray;
}

.main-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 150px;
}

.header-grid {
    border: 1px;
    background-color: lightgray;
    padding: 10px;
    float: left;
    text-align: center;
    padding-top: 60px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 400px;
}

#topics {
    border: 2px solid;
}

.articles {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  width: 100%;
  height: 1200px;
}

.wrote {
  text-align: center;
}

.Wa {
  background-color: #C0C0C0;
}

.Wb {
  background-color: gainsboro;
}

.Wc {
  background-color: gray;
}

.Wd {
  background-color: darkgray;
}

.articles2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 500px;
}

.explore {
  display: grid;
  width: 100%;
  height: 700px;
  grid-template: repeat(13, 1fr) / repeat(20, 1fr)
}

.Ma {
  background-color: grey;
  grid-area: 2 / 8 / span 11 / span 12;
}

.Fa {
  background-color: grey;
  grid-area: 3 / 2 / span 4 / span 5;
}

.see_all {
  text-align: center;
  text-decoration: underline red;
  padding: 65px;
}

.smashing {
  background-color: grey;
  text-align: center;
  height: 800px;
}

.print {
  text-decoration: underline;
}

.week, .week_title {
  text-align: center;
}

.authors_stories {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  padding: 100px ;
}

.author-heading {
  margin:85px;
}

.twitter-link{
  text-align: center;
  padding: 50px;
  text-decoration: underline red;
}

.design_system {
  background-color: grey;
  height:350px;
}